/*Basic Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*header design*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: #e7d105;
    color: white;
}
.navbar .logo{
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.nav-links{
    list-style: none;
    display: flex;
}
.nav-links li a{
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.nav-links li a:hover{
    background-color: #333;
    color: white;
}
.btn{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: #555;
}